//

.twit {
    background-color: rgba(122, 217, 255, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.twit .title{
    font-family: 'Nunito', sans-serif;
    font-size: larger;
}
.twit .referenceId{
    font-family: sans-serif;
    font-size: x-small;
}

.twit .twittedBy a{
    font-family: sans-serif;
}

